# Copy this file to .env and update the DATABASE_URL to match your local database

# Example: SQLite (recommended for local development - no DB server required)
DATABASE_URL="file:./dev.db"

# Example: PostgreSQL
# DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE?schema=public"

# Example: MySQL
# DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/DATABASE"

# Optional: set NODE_ENV if needed
# NODE_ENV=development

# Pour l'oidc github
NUXT_OIDC_SESSION_SECRET=""
NUXT_OIDC_AUTH_SESSION_SECRET=""
CLIENT_ID=""
CLIENT_SECRET=""