@import "tailwindcss";

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

button,
a,
[role="button"] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}